                        <div class="post" >
                      {{#each posts as |post|}}
                            <div class="inner-main-body pt-2 collapse forum-content{{post.id}} show" {{#if (eq post.type "p")}} onclick='showResults({{post.id}})'{{/if}} id='post{{post.id}}'>
                                <div class="card mb-2">
                                    <div class="card__tag text-muted">{{../moduleName}}</div>
                                    <div class="bottom_section">
                                        <span class="text-muted tag">
                                            {{#if (eq post.type 'p')}}
                                                #Vote
                                            {{else if (eq post.type 'q')}}
                                                #Question
                                            {{else}}
                                                #Note
                                            {{/if}}
                                        </span>
                                        <div class="post-folders">
                                            {{#each post.folders as |folder|}}
                                            <a style="text-decoration:none;" href="/modules/{{../../moduleId}}/{{folder.id}}" class="post-folder text-muted">{{folder.name}}</a>
                                            {{/each}}
                                        </div>
                                    </div>
                                    <div class="card-body p-2 p-sm-3">
                                        <div class="media forum-item">
                                            <a href="javascript:void(0);" data-toggle="collapse" data-target=".forum-content{{post.id}}"><img src="https://randomuser.me/api/portraits/men/88.jpg" class="mr-3 rounded-circle" width="50" alt="User" /></a>
                                            <div class="media-body">
                                                <h6><a href="javascript:void(0);" data-toggle="collapse" data-target=".forum-content{{post.id}}" class="text-body">{{post.title}}</a></h6>
                                                <p class="text-secondary">{{{post.content}}}</p>
                                                <p class="post-time text-muted align-self-end m-0"><span name="time_since" creation_time='{{post.creation_date}}' edit_time='{{post.get_edit_time}}' class="text-secondary font-weight-bold time_since_posted"></span></p>
                                            </div>
                                            {{!-- Edit or delete reply --}}
                                            {{#if (eq post.author_id ../user)}}
                                            <div class="text-muted post-more">
                                              <span class="material-icons dots" style="font-size: 16px">more_vert</span>
                                                <div class="more-menu">
                                                  {{#unless (eq 'p' post.type)}}
                                                  <a href="/edit_post?module_id={{../moduleId}}&post_id={{post.id}}">Modifier</a>
                                                    {{/unless}}
                                                    <div onClick="delete_post({{../moduleId}}, {{post.id}})">Supprimer</div>
                                                </div>
                                            </div>
                                            {{/if}}
                                            {{!-- End Edit or delete reply --}}
                                            {{#if (eq post.type "q")}}
                                            <div class="text-muted small mt-2 comment-number mt-auto">
                                                <span><span id="comm-count">{{post.responses.length}}</span> <span class="material-icons" style="font-size: 16px">chat_bubble</span></span>                                        
                                            </div>
                                            {{/if}} 
                                        </div>
                                    </div>
                                </div>
                            </div>                    

                            <!-- Forum Detail (replies) -->
                            <div class="inner-main-body p-2 p-sm-3 collapse forum-content{{post.id}}" id='inner_post{{post.id}}'>
                                <a href="#" class="btn btn-light btn-sm mb-3 has-icon" data-toggle="collapse" data-target=".forum-content{{post.id}}"><i class="fa fa-arrow-left mr-2"></i>Back</a>
                                <div class="card mb-2">
                                    <div class="card-body">
                                        <div class="media forum-item">
                                            <a href="javascript:void(0)" class="card-link">
                                                <img src="https://randomuser.me/api/portraits/men/34.jpg" class="rounded-circle" width="50" alt="User" />                                        
                                            </a>
                                            <div class="media-body ml-3">
                                                <a href="javascript:void(0)" class="text-secondary">{{post.author}}</a>
                                                <small class="text-muted ml-2 time_since_posted_inner"></small>
                                                <h5 class="mt-1">{{post.title}}</h5>
                                                <div class="mt-3 font-size-sm">
                                                    <p>{{{post.content}}}</p>
                                                    <div id="Poll">
                                                      {{#if (eq post.type "p")}}
                                                      <div class="poll mx-auto" id="poll{{post.poll.poll_representation.id}}">
                                                        <div class="answers" all_votes={{post.poll.poll_representation.pollCount}} user_choice={{call post.poll "did_vote" ../user }}>
                                                          {{#each post.poll.poll_representation.choices as |choice i|}}
                                                          <div choice={{i}} class="answer" onClick='markAnswer({{../../moduleId}}, {{post.id}}, {{i}})' votes={{lookup post.poll.poll_representation.votes @index}}>
                                                            {{choice}}
                                                            <span class="percentage-bar"></span>
                                                            <span class="percentage-value"></span>
                                                          </div>
                                                          {{/each}}
                                                        </div>
                                                      </div>
                                                      {{/if}}
                                                    </div>
                                                    <div class="files mb-2">
                                                      {{#each post.files as |file|}}
                                                        <div class="file">
                                                            <span class="material-icons icon">description</span>
                                                            <span class="file-name">
                                                            <a href=/{{file.file_location}}>{{file.name}}</a> 
                                                            </span>
                                                        </div>                                                          
                                                        {{/each}}
                                                    </div>                                                
                                               </div>                                                                                                    
                                            </div>
                                            <div class="right">                                                
                                                {{#if (eq post.type "q")}}
                                                <a target="_blank" href="/new_reply?{{../moduleId}}&{{post.id}}" class="text-muted small">Reply</a>
                                                {{/if}}

                                                {{#if (eq post.type "q")}}
                                                <div class="text-muted small" style="margin-top: 5rem">
                                                    <span>
                                                        <span class="material-icons" style="font-size: 16px">forum</span>
                                                        {{post.responses.length}} 
                                                    </span>                                        
                                                </div>                                            
                                                {{/if}}

                                            </div>                                            
                                        </div>
                                </div>                        
                                {{>reply_partial moduleId=../moduleId postId=post.id responses=post.responses user=../user}}
                            </div>                            
                        </div>
                        {{/each}}

