<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stoa</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/material-icons.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">        
</head>
<body>

    <nav class="navbar navbar-expand-md bg-light sticky-top">
        <div class="container">
            <a href="/" class="navbar-brand">
                <img src="images/stoa2.png" alt="stoa">
            </a>
            {{!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#toggleMobileMenu" aria-controls="toggleMobileMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> --}}            
            <div class="collapse navbar-collapse">
                {{!-- <form class="form-inline ml-5">
                    <input class="search-bar form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">                    
                </form>           --}}
                <ul class="navbar-nav text-center ml-auto">                    
                    <li>
                        <a class="nav-link" href="#">Account</a>
                    </li>                  
                </ul>                      
            </div>
        </div>
    </nav>
        
    <div class="sidebar">
        <ul class="links">
            <a href="/new_post" class="btn btn-primary new__descussion">
                <span class="material-icons">add</span>
                <span class="new__descussion-text">Nouvelle Discussion</span>
            </a>
            <li>                                
                <a class="sidebar__link active" href="#">
                    <span class="material-icons">home</span>
                    Home
                </a>                
            </li>
            <li>                
                <a class="sidebar__link" href="#">
                    <span class="material-icons">
                    chat_bubble_outline
                    </span>           
                    Discussions
                </a>                
            </li>
            <hr style="background-color: #f6f6f6;height: 1px;width: 75%;margin: 1rem auto">      
            {{!-- Button just for profs --}}
            <a href="/new_folder" class="btn btn-secondary new__descussion">
                <span class="material-icons">add</span>
                <span class="new__descussion-text">Nouveau dossier</span>
            </a>                              
            <li class="module__link">                
                <a class="sidebar__link" href="#">
                    <span class="material-icons">folder_open</span>           
                    IHM
                </a>          
                <div class="module__folders ml-4">
                    <a class="module__folder" href="#">
                        <span class="material-icons">folder_open</span>           
                        Coures
                    </a>          
                </div>   
                <div class="module__folders ml-4">
                    <a class="module__folder" href="#">
                        <span class="material-icons">folder_open</span>           
                        TD
                    </a>          
                </div>      
                <div class="module__folders ml-4">
                    <a class="module__folder" href="#">
                        <span class="material-icons">folder_open</span>           
                        Notes
                    </a>          
                </div>      
            </li>
            <li class="module__link">                
                <a class="sidebar__link" href="#">
                    <span class="material-icons">
                    folder_open
                    </span>           
                    Acoo
                </a>                
            </li>
            <li class="module__link">                
                <a class="sidebar__link" href="#">
                    <span class="material-icons">
                    folder_open
                    </span>           
                    Algo
                </a>                
            </li>

            {{!-- <li>                
                <a class="sidebar__link" href="#">
                    <span class="material-icons">local_library</span>
                    Modules
                </a>                
            </li>
            <li>                
                <a class="sidebar__link" href="#">
                    <span class="material-icons">poll</span>
                    Poll
                </a>                
            </li>
            <li>                
                <a class="sidebar__link" href="#">
                    <span class="material-icons">note</span>
                    Notes
                </a>                
            </li>
            <li>                
                <a class="sidebar__link" href="#">
                    <span class="material-icons">article</span>
                    Devoires
                </a>                
            </li> --}}
        </ul>
    </div>

    <div class="content">        
        <div class="container">
        <div class="main-body p-0 col-11 mx-auto">
            <div class="inner-wrapper">    
                <!-- Inner main -->
                <div class="inner-main">
                    <div class="container">
                        <!-- Inner main header -->
                        <div class="row inner-main-header mb-4">
                            <!-- <select class="col-2 custom-select custom-select-sm mr-1">
                                <option selected="">Latest</option>
                                <option value="1">Popular</option>
                                <option value="3">Solved</option>
                                <option value="3">Unsolved</option>
                                <option value="3">No Replies Yet</option>
                            </select> -->
                            <span class="col-xs-3 input-icon input-icon-sm ml-auto" id="search">
                                <input type="text" class="form-control form-control-sm bg-gray-200 border-gray-200 shadow-none mb-4" placeholder="Search forum" />
                            </span>
                        </div>                    
                    </div>
                    
                    <!-- Forum List -->
                    <div class="posts">
                      {{#each posts as |post|}}
                        <div class="post">
                            <div class="inner-main-body pt-2 collapse forum-content{{post.id}} show" {{#if (eq post.type "p")}} onclick='showResults({{{post.poll.poll_representation.stringify}}}, {{call post.poll "did_vote" ../user }})'{{/if}}>
                                <div class="card mb-2">
                                    <div class="card__tag text-muted">ACOO</div>
                                    <span class="material-icons text-muted tag">
                                      {{#if (eq post.type 'p')}}
                                          poll_icon
                                      {{else if (eq post.type 'q')}}
                                          help_icon
                                      {{else}}
                                          note_icon
                                      {{/if}}
                                    </span>
                                    <div class="card-body p-2 p-sm-3">
                                        <div class="media forum-item">
                                            <a href="#" data-toggle="collapse" data-target=".forum-content{{post.id}}"><img src="https://randomuser.me/api/portraits/men/88.jpg" class="mr-3 rounded-circle" width="50" alt="User" /></a>
                                            <div class="media-body">
                                                <h6><a href="#" data-toggle="collapse" data-target=".forum-content{{post.id}}" class="text-body">{{post.title}}</a></h6>
                                                <p class="text-secondary">{{{post.content}}}</p>
                                                <p class="post-time text-muted align-self-end m-0"><span class="text-secondary font-weight-bold">{{{post.get_elapsed_time}}}</span></p>
                                            </div>
                                            {{#if (eq post.type "q")}}
                                            <div class="text-muted small  text-center align-self-end">
                                                <span><span id="comm-count">{{post.responses.length}}</span> <span class="material-icons" style="font-size: 16px">chat_bubble</span></span>                                        
                                            </div>
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                            </div>                    

                            <!-- Forum Detail (replies) -->
                            <div class="inner-main-body p-2 p-sm-3 collapse forum-content{{post.id}}" >
                                <a href="#" class="btn btn-light btn-sm mb-3 has-icon" data-toggle="collapse" data-target=".forum-content{{post.id}}"><i class="fa fa-arrow-left mr-2"></i>Back</a>
                                <div class="card mb-2">
                                    <div class="card-body">
                                        <div class="media forum-item">
                                            <a href="javascript:void(0)" class="card-link">
                                                <img src="https://randomuser.me/api/portraits/men/34.jpg" class="rounded-circle" width="50" alt="User" />                                        
                                            </a>
                                            <div class="media-body ml-3">
                                                <a href="javascript:void(0)" class="text-secondary">{{post.author}}</a>
                                                <small class="text-muted ml-2">{{post.get_elapsed_time}}</small>
                                                <h5 class="mt-1">{{post.title}}</h5>
                                                <div class="mt-3 font-size-sm">
                                                    <p>{{{post.content}}}</p>
                                                    <div id="Poll">
                                                      {{#if (eq post.type "p")}}
                                                      <div class="poll mx-auto" id="poll{{post.poll.poll_representation.id}}">
                                                        <div class="answers" >
                                                          {{#each post.poll.poll_representation.choices as |choice i|}}
                                                          <div class="answer" onClick='markAnswer({{i}}, {{{post.poll.poll_representation.stringify}}}, {{call post.poll "did_vote" ../../user }})'>
                                                            {{choice}}
                                                            <span class="percentage-bar"></span>
                                                            <span class="percentage-value"></span>
                                                          </div>
                                                          {{/each}}
                                                        </div>
                                                      </div>
                                                      {{/if}}
                                                    </div>
                                                    <div class="files mb-2">
                                                      {{#each post.files as |file|}}
                                                        <div class="file">
                                                            <span class="material-icons icon">description</span>
                                                            <span class="file-name">
                                                            <a href={{file.path}}>{{file.name}}</a> 
                                                            </span>
                                                        </div>                                                          
                                                        {{/each}}
                                                    </div>                                                
                                               </div>
                                            <div class="text-muted small  text-right align-self-center">
                                            </div>
                                                {{#if (eq post.type "q")}}
                                                <div class="text-muted small  text-right align-self-center">
                                              <span><span class="material-icons" style="font-size: 16px">forum</span> {{post.responses.length}} </span>                                        
                                                </div>                                            
                                                {{/if}}
                                            </div>
                                            {{#if (eq post.type "q")}}
                                            <a href="/new_reply?{{post.id}}" class="text-muted small">Reply</a>
                                            {{/if}}
                                        </div>
                                </div>                        
                                {{#each post.responses as |response|}}
                                    {{!-- Replies --}}
                                    <div class="ml-3 card mb-2">
                                        <div class="card-body">
                                            <div class="media forum-item">
                                                <div class="vote-answer" id={{call response 'did_vote' ../../user}}>
                                                    <button onClick="chose_vote({{post.id}}, {{response.id}}, 1, {{call response 'did_vote' ../../user}})" class="up_down_vote_button upvote material-icons">arrow_upward</button>
                                                    <span class="vote-number">{{response.vote_count}}</span> 
                                                    <button onClick="chose_vote({{post.id}}, {{response.id}}, -1, {{call response 'did_vote' ../../user}})" class="downvote material-icons up_down_vote_button">arrow_downward</button>
                                                </div>
                                                <a href="javascript:void(0)" class="card-link">
                                                    <img src="https://randomuser.me/api/portraits/men/42.jpg" class="rounded-circle" width="50" alt="User" />                                    
                                                </a>
                                                <div class="media-body ml-3">
                                                    <a href="javascript:void(0)" class="text-secondary">{{response.author}}</a>
                                                    <small class="text-muted ml-2">{{response.get_elapsed_time}}</small>                                                    
                                                    <div class="mt-3 font-size-sm">
                                                        <p>{{{response.content}}}</p>
                                                    </div>
                                                    <div class="files mb-2">
                                                      {{#each response.files as |file|}}
                                                        <div class="file">
                                                            <span class="material-icons icon">description</span>
                                                            <span class="file-name">
                                                            <a href={{file.path}}>{{file.name}}</a> 
                                                            </span>
                                                        </div>                                                          
                                                        {{/each}}
                                                    </div>      
                                                    <a href="/new_comment?{{post.id}}?{{response.id}}" class="text-muted small">Reply</a>       
                                                    {{#each response.comments as |comment|}}
                                                    <div class="mt-4 comment">
                                                        <a href="javascript:void(0)" class="card-link"></a>
                                                        <div class="ml-2 pt-1 comment-text">                                    
                                                          <p class="mb-1">{{{comment.content}}}</p>
                                                            <div class="pb-1 comment-detail">
                                                              <a href="javascript:void(0)" >{{comment.author}}</a>
                                                              <small class="text-muted ml-2">{{comment.get_elapsed_time}}</small>
                                                            </div>
                                                        </div>                                            
                                                    </div>
                                                    {{/each}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                    
                                {{/each}}
                                
                            </div>                            
                        </div>
                        {{/each}}
                        {{!-- End post --}}                    
                        </div>
                    </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="max-width: 750px">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter une réponse</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
            <div class="container">
                <div class="col-12 mx-auto">                
                    <form action="" method="POST">
                        <section class="details">
                            <label>Détailes</label>
                            <textarea name="keyboard_cat" class="petMachine" id="my-expressjs-tinymce-app"></textarea>
                        </section>
                        <button class="btn btn-primary col-12 ml-auto mt-3 mb-5 reply" >Reponder</button>
                    </form>
                </div>
            </div>
        
      </div>
      
    </div>
  </div>
</div>

{{!-- <script>    
    $(document).ready(function() {
       $(document).on('click', '.reply', function() {
           
       }); 
    });
</script> --}}

            <!-- New Thread Modal -->
            {{!-- <div class="modal fade" id="threadModal" tabindex="-1" role="dialog" aria-labelledby="threadModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <form>
                            <div class="modal-header d-flex align-items-center bg-primary text-white">
                                <h6 class="modal-title mb-0" id="threadModalLabel">New Discussion</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="threadTitle">Title</label>
                                    <input type="text" class="form-control" id="threadTitle" placeholder="Enter title" autofocus="" />
                                </div>
                                <textarea class="form-control summernote" style="display: none;"></textarea>

                                <div class="custom-file form-control-sm mt-3" style="max-width: 300px;">
                                    <input type="file" class="custom-file-input" id="customFile" multiple="" />
                                    <label class="custom-file-label" for="customFile">Attachment</label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary">Post</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div> --}}
        </div>
        </div>
    </div>


    <!-- Script element sourcing TinyMCE -->
    <script type="application/javascript" src= "/tinymce/tinymce.min.js"></script>
    <!-- Script element sourcing the TinyMCE configuration -->
    <script type="application/javascript" src= "/js/my-tinymce-config.js"></script>
    <script src="js/main.js"></script> 
    <script src="js/poll_script.js"></script> 
    <script src="js/up_down_vote.js"></script> 
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
