<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stoa</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/material-icons.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">            
</head>
<body>

{{> navbar userId=user}}        
{{> module_sidebar folders=folders moduleId=moduleId is_teacher=is_teacher}}

    <div class="content">        
        <div style="background-color: #F2F2F2;height:100px;margin-top:-1.9rem">
            <div class="container" style="height:100px">
                <h4 class="my-auto module-title" style="font-weight: 800;font-size: 32px;line-height:100px;color:#373838">Module : {{moduleName}}</h4>                                
            </div>            
        </div>                           
        <div class="container">
        <div class="main-body p-0 col-11 mx-auto">
            <div class="inner-wrapper">    
                <!-- Inner main -->
                <div class="inner-main">
                    <div class="container">   
                        <div class="row">
                          {{#if subscribed}}
                            <button onClick="unsubscribe({{moduleId}})" class="subscribe ml-auto mt-4 subscribed">INSCRIS</button>    
                            {{else}}
                            <button onClick="subscribe({{moduleId}})" class="subscribe ml-auto mt-4">S'inscrire</button>    
                            {{/if}}
                        </div>                      
                        
                        {{!-- Course Information --}}
                        <div class="row mt-3">
                            <div class="col-md-5">
                                <div class="info-title">                                                                 
                                  Profs du module
                                </div>
                         <table class="table table-hover mt-4" id="profs_table">
                            <tbody>
                              {{#each profs as |prof|}}
                                <tr id={{prof.id}}>
                                    <td><a href="/profile/{{prof.id}}">{{prof.name}} {{prof.family_name}}</a></td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                            </div>
                            <div class="col-md-7">
                                <div class="info-title description">
                                Description
                                {{#if is_teacher}}
                                <a class="btn btn-sm" href='/edit_description?module_id={{moduleId}}'>
                                  <span class="material-icons info-edit" style="font-size: 18px;">edit</span>
                                </a>   
                                {{/if}}
                            </div>
                            <div class="info-content mt-3 mb-5">{{{moduleDescription}}}</div>                                
                            </div>
                                
                            
                            
                            {{!-- <div class="col-md-6">                                
                                <div class="info-title">
                                    Annonces
                                    <button class="btn btn-sm">
                                        <span class="material-icons info-edit" style="font-size: 18px;">edit</span>                                                
                                    </button>   
                                </div>
                                <div class="info-content last-announcement mt-2 mb-5">
                                    Note au étudians : il y'aura un interogation demain a 13h00 a la salle 182 pavillion 33.
                                    <span class="last-annonce-date">30 Juin 2021</span>
                                </div>
                            </div>                             --}}
                        </div>


                    </div>
                    
                    
        </div>
        </div>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script> 
</body>
</html>
